<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="raport">
      <h2 data-cy="raportDetailsHeading"><span jhiTranslate="raportyApp.raport.detail.title">Raport</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ raport.id }}</span>
        </dd>
        <dt><span jhiTranslate="raportyApp.raport.symbol">Symbol</span></dt>
        <dd>
          <span>{{ raport.symbol }}</span>
        </dd>
        <dt><span jhiTranslate="raportyApp.raport.nazwa">Nazwa</span></dt>
        <dd>
          <span>{{ raport.nazwa }}</span>
        </dd>
        <dt><span jhiTranslate="raportyApp.raport.wersja">Wersja</span></dt>
        <dd>
          <span>{{ raport.wersja }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Wstecz</span>
      </button>

      <button type="button" [routerLink]="['/raport', raport.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edytuj</span>
      </button>
    </div>
  </div>
</div>
