<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-grupa-raportow-heading"
        data-cy="GrupaRaportowCreateUpdateHeading"
        jhiTranslate="raportyApp.grupaRaportow.home.createOrEditLabel"
      >
        Dodaj lub edytuj: Grupa Raportow
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="raportyApp.grupaRaportow.nazwa" for="field_nazwa">Nazwa</label>
          <input type="text" class="form-control" name="nazwa" id="field_nazwa" data-cy="nazwa" formControlName="nazwa" />
          <div *ngIf="editForm.get('nazwa')!.invalid && (editForm.get('nazwa')!.dirty || editForm.get('nazwa')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nazwa')?.errors?.required" jhiTranslate="entity.validation.required">
              To pole jest wymagane.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nazwa')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 10 }"
            >
              Wartość musi mieć długość co najmniej 10 znaków.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nazwa')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              Wartość nie może być dłuższa niż 255 znaków.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anuluj</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Zapisz</span>
        </button>
      </div>
    </form>
  </div>
</div>
